{% extends 'base.html' %}

{% block body_header_fixed %} class="fixed"{% endblock %}
{% block head_style %}
{{ block.super }}
  <link rel="stylesheet" type="text/css" href="/script/skins/ui1007s.css"/>
  <link rel="stylesheet" type="text/css" href="/script/jscal/css/jscal2.css" />
{% endblock%}

{% block head_script %}
{{ block.super }}
<script type="text/javascript" src="/script/jscal/jscal2.js"></script>
<script type="text/javascript" src="/script/jscal/lang/cn.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //开始日期
        Calendar.setup({
            inputField    : "id_stime",
            trigger       : "id_stime",
            //showTime      : 24,
            dateFormat    : "%Y-%m-%d",
            onSelect:function(){this.hide();}
        });
        //结束日期
        Calendar.setup({
            inputField    : "id_etime",
            trigger       : "id_etime",
            //showTime      : 24,
            dateFormat    : "%Y-%m-%d",
            onSelect:function(){this.hide();}
        });
    });
</script>
{% endblock %}

{% block body_search %}
    <section id="serach-console">
        <hgroup>
            <form id="form2">
            查找公司名称：<input name="keytitle" id="keytitle" type="text" value="{{ serach.keytitle }}">
            &nbsp;
            付款日期：
            <input name="keystime" id="id_stime" type="text" value = "{{ serach.keystime }}" readonly="true"/>
            至
            <input name="keyetime" id="id_etime" type="text" value = "{{ serach.keyetime }}" readonly="true"/>
            &nbsp;
            <input class="button" type="submit" value="搜索" />
            </form>
        </hgroup>
    </section>
{% endblock %}

{% block body_contents %}
  <section id="editor-console">
    {% load pagination_tags %}
    {% autopaginate querys 30 %}
      <table class="data-list" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="2%"><input type="checkbox" id="check-console" value="-1"></th>
          <th width="5%">id</th>
          <th width="8%">商务人员</th>
          <th width="8%">付款日期</th>
          <th width="13%">公司名称</th>
          <th width="8%">项目名称</th>
          <th width="8%">金额</th>
          <th width="8%">备注</th>
          <th width="8%">录入日期</th>
          <th width="8%">付款人</th>
          <th width="10%">状态</th>
        </tr>
        {% if querys %}
          {% for q in querys %}
            <tr>
              <td><input type="checkbox" name="id" id="q{{q.id}}" value="{{ q.id }}"></td>
              <td>{{q.id}}</td>
              <td style="text-align:left">{{q.u_id.realname}}</td>
              <td>{{q.pay_time|date:"Y-m-d"}}</td>
              <td style="text-align:left">{{q.c_id.name|default_if_none:q.title}}</td>
              <td style="text-align:left">{{q.reason}}</td>
              <td style="text-align:right">{{q.pay_money}}</td>
              <td style="text-align:left">{{q.pay_remark}}</td>
              <td>{{q.addtime|date:"Y-m-d"}}</td>
              <td>{{q.pay_doname}}</td>
              <td>{{q.get_dostatus_display}}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="10" style="color:#e00">空记录！</td>
          </tr>
        {% endif %}
      </table>
      <div >{% paginate %}</div>
      <br/>
  </section>
{% endblock %}